#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# upstream's way to prevent stripping: override the STRIP command with something
# harmless, like /usr/bin/true
STRIP=/bin/true
export STRIP

# where sources are
DEB_SRCDIR = $(CURDIR)/src

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
